<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- IoC 默认使用无参构造 -->
    <bean id="user" class="com.lee.pojo.User">
        <property name="name" value="Kite"/>
    </bean>
<!--    &lt;!&ndash; 有参构造 下标赋值 &ndash;&gt;-->
<!--    <bean id="userIndex" class="com.lee.pojo.User">-->
<!--        <constructor-arg index="0" value="KiteIndex"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 有参构造 参数类型赋值（多个相同类型会出错，不建议使用） &ndash;&gt;-->
<!--    <bean id="userType" class="com.lee.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="KiteType"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 有参构造 参数名赋值 &ndash;&gt;-->
<!--    <bean id="userName" class="com.lee.pojo.User" >-->
<!--        <constructor-arg name="name" value="KiteName"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash; 别名 &ndash;&gt;-->
<!--    <alias name="userIndex" alias="index"/>-->
<!--    <bean id="test" class="com.lee.pojo.User" name="userName2,u3;u4 u5"/>-->

</beans>